.select {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    margin-bottom: 30px;
}

.btnPages {
    border-radius: 50%;
    background-color: #1e8fa0;
    color: rgb(162, 255, 22);
    border: none;
    margin: 3px;
    cursor: pointer;
}

.btnBackNext {
    background-color: #1e8fa0;
    color: rgb(162, 255, 22);
    border: none;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
}

.btnBackNext:active {
    background-color: #14616d;
}