.footer {
    height: 15%;
    width: 100vw;
    background-color: rgba(17, 16, 16, 0.438);
    color: white;
    position: static;
    bottom: 0px;
}

.Image {
    width: 30px;
    height: 30px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.footer>p {
    text-align: center;
    font-size: medium;
    padding-bottom: 5px;
}