.footer {
    height: 5rem;
    width: 100vw;
    background-color: rgba(17, 16, 16, 0.438);
    color: lightgray;
    /* position: fixed; */
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 5px;
}

.Image {
    width: 22px;
    height: 22px;
}

.footer>p {
    text-align: center;
    font-size: large;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.footer {
    height: 3rem;
    padding-top: 5px;
}

.imagesContainer{
    display: flex;
    gap: 5px;
}
.Image {
    width: 20px;
    height: 20px;
}


@media (min-width: 577px) and (max-width: 768px) {
    .footer {
        height: 4%;
        padding-top: 5px;
    }
    .Image {
        width: 18px;
        height: 18px;
    }
}