*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
}

body {
    background-color: #05292e;
}

.Container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.characters {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}